<div class="game-tabs">
    <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
        <mat-tab label="About">
            <p class="game-tabs-par">
                Platforms:
                <span>PC</span>
            </p>
            <p class="game-tabs-par">
                Publishers:
                <span>KO</span>
            </p>
            <p class="game-tabs-par">
                Website:
                <a href="#" class="game-tabs-link" target="_blank">http</a>
            </p>
            <div class="game-description">Some des</div>
            <p class="game-tab-votes">
                <span>
                    <mat-icon class="game-votes-up">thumb up</mat-icon>
                    <span class="game-votes-count">55</span>
                </span>
                <span>
                    <mat-icon class="game-votes-down">down</mat-icon>
                    <span class="game-votes-count">14</span>
                </span>
            </p>
        </mat-tab>
        <mat-tab label="Screenshots">
            <img src="" alt="screenshot" class="game-screenshot">
        </mat-tab>
        <mat-tab label="Trailers">
            <video class="game-trailer" controls>
                <source src="" type="video/mp4">
                Old browser
            </video>
        </mat-tab>
    </mat-tab-group>
</div>